@{
    Layout = "~/Views/Shared/_LayoutEduminAuth.cshtml";
    ViewData["Title"] = "Login"; // Especificar o título da página
}

<div class="fix-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <div class="card mb-0 h-auto">
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <a href="@Url.Action("Index","Edumin")">
                                <!-- Corrigido para voltar à página inicial -->
                                <!-- SVG Logo - Deixado como está, certifique-se que o link funciona -->
                            </a>
                        </div>
                        <h4 class="text-center mb-4">Sign in to your account</h4>
                        <!-- Ação atualizada para apontar para a ação de Login no AccountController -->
                        <form method="post" action="@Url.Action("Login", "Account")">
                            <div class="form-group">
                                <label class="form-label" for="email">Email</label>
                                <input type="text" class="form-control" name="Email" placeholder="Enter Email" id="email" required>
                            </div>
                            <div class="mb-4 position-relative">
                                <label class="form-label" for="dlabPassword">Password</label>
                                <input type="password" name="Password" class="form-control" placeholder="Enter password" id="dlabPassword" required>
                                <span class="show-pass eye">
                                    <i class="fa fa-eye-slash"></i>
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                            <div class="form-row d-flex flex-wrap justify-content-between mt-4 mb-2">
                                <div class="form-group">
                                    <div class="form-check custom-checkbox ms-1">
                                        <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                        <label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
                                    </div>
                                </div>
@*                                 <div class="form-group ms-2">
                                    <a class="btn-link" href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
                                </div> *@
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                            </div>
                        </form>
                        <div class="new-account mt-3">
                            <p>Don't have an account? <a class="text-primary" href="@Url.Action("PageRegister", "Edumin")">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    <link rel="stylesheet" href="~/edumin/vendor/toastr/css/toastr.min.css">
}

@{
    <script src="~/edumin/vendor/global/global.min.js"></script>
    <script src="~/edumin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Toastr -->
    <script src="~/edumin/vendor/toastr/js/toastr.min.js"></script>

    <!-- All init script -->
    <script src="~/edumin/js/plugins-init/toastr-init.js"></script>

    <!-- Svganimation scripts -->
    <script src="~/edumin/vendor/svganimation/vivus.min.js"></script>
    <script src="~/edumin/vendor/svganimation/svg.animation.js"></script>

    <script src="~/edumin/js/custom.min.js"></script>
    <script src="~/edumin/js/dlabnav-init.js"></script>


}

@if (TempData["Error"] != null)
{
    <script>
        toastr.error('@TempData["Error"]'.toString(), 'Login Failed', {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            preventDuplicates: true,
            timeOut: 5000,
        });
    </script>
}
